.home{
	article.page{
		max-width:600px;
		margin:auto;
	}
	.featured-work{

		margin:$gutter * 6 0;
		& > h2{
			font-size:1rem;
			text-transform: uppercase;
			color:rgba($text-color, .6);
		}
	}
	.work-by-type {
		@extend %grid;
		
	}
	.sidebar {

		width:auto;
		float:none;
		@extend %grid;

		position: relative; /* for child pseudo-element */
		z-index: 0;
		margin: 0 -600rem;
		/* add back negative margin value */
		padding: 0.25rem 600rem;
		
		background: rgba(black, .3);
		.widget{
			width:33%;
			min-width:300px
		}

		&:before{
			content: "";
			position: absolute;
			z-index: -1; /* behind parent */
			top: 0;
			bottom: 0;
			/* subtract h2 padding (1.5rem) */
			left: 598.5rem;
			right: 598.5rem;
			
		}

	}

	
	
} 