//style guide colors
$grass_green: #79D869;
$khaki:#F8F8D7;
$darkgray:#303030;
$blue:#096290;

//color roles
$background:$khaki;
$header-color:$grass_green;
$content-color:$darkgray;
$link-color:$blue;

