$main-color:black;
$accent-color:dodgerblue;
$hover-color:gold;
$sticky-color:#FFFAD2;
$text-color:#2A2727;
$line-height:1.4;

$drawer-color:#424242;
$drawer-width:280px;

$header-text-color:white;

$gradient-1:#7b4397;
$gradient-2:#dc2430;

$gutter:.6rem;
$max-width:900px;

$heading-font:"Montserrat", Arial, sans-serif;
$body-font: "Source Sans Pro", Calibri, Arial, sans-serif;

$breakpoint-1:600px;